
%button-disabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}

%button-frame{
  text-align: center;
  vertical-align: middle;
  font-size: rem(18);
  padding: .4em .8em ;
  cursor: pointer;
}